$font: var(--second-font);
$shadow: var(--main-shadow);

.cardCreateIssue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 1.5% 1% 0.5%;
  box-shadow: $shadow;
  font-style: var(--second-font);
  margin-bottom: 2%;
  color: gray;
}

.containerBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  font-size: 1.8em;
}
.addedIssue {
  font-size: 1.6em;
  line-height: 27px;
}
.addedIssue:hover,
.uploadIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.uploadIcon {
  width: 30px;
}

.visuallyHidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.name {
  position: relative;
  width: 70%;
  z-index: 1;
  margin-bottom: 0;
  font-size: 1em;
  text-align: start;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1050px) {
  .name {
    font-size: 0.9em;
  }
  .addedIssue {
    font-size: 1.45em;
  }
}

@media (max-width: 950px) {
  .name {
    font-size: 0.8em;
  }
}

@media (max-width: 820px) {
  .cardCreateIssue {
    width: 200px;
  }
  .addedIssue {
    font-size: 1.4em;
    line-height: 24px;
  }
  .name {
    font-size: 0.75em;
  }
}
@media (max-width: 720px) {
  .uploadIcon {
    width: 20px;
  }
  .addedIssue {
    font-size: 1.4em;
    line-height: 22px;
  }
}
